*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg--primary--color:rgb(25, 25, 25);
    --bg--fill--color:rgb(225, 226, 212);
    --bg--food--color:rgba(221, 39, 39, 0.868);

    --text--primary--color:rgb(227, 227, 227);
    --border-primary-color:#333333;

    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px
}

html,body{
    height: 100%;
    width: 100%;
    border: 1px solid red;
    background-color: var(--bg--primary--color);
    color: var(--text--primary--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

section .infos{
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
    border-radius: 50%;
    text-align: center;
    font-size: 8px;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg--fill--color);
}

.food{
    background-color: var(--bg--food--color);
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(50, 50, 50, 0.495);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.modal .game-over{
    display: none;
}